.root, html {
  background-color: rgb(82, 136, 57);
  width: 100%;
  height: 100vh;

}
.main {
  background-color: rgb(82, 136, 57);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
}

.header {
  background-color: rgb(82, 136, 57);
  position: relative ;
  height:72vh;
  width: 100%;
  text-align: center;
  margin: 4%;
  
}

